<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >    
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= favicon_link_tag 'favicons/favicon512.png' %>    

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/blog_nav" %>                                <!-- Nav -->
    <%= render "shared/blog_header" %>                             <!-- Blog header -->
  

   
    <div class="container">                  <!-- Start container wrapper element -->
      <div class="row mb-2">                      <!-- Start row md-2 element (12) -->
        <main role="main" class="container">              <!-- start main/container >> wrapping style ONLY--> 
          <div class="row">

            <%= yield %>                                          <!-- index.html.erb (8)-->  

            <%= render "shared/blog_sidebar" %>                   <!-- Sidebar (4)-->            
          
          </div>
        </main>                                           <!-- end main/container --> 
      </div>                                      <!-- End row mb-2-->

      <%= render "shared/blog_footer" %>                            <!-- Footer -->

      <%= alerts %>      
    </div>                                    <!-- End container wrapper element -->      
  </body>
</html>
